<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head-include') %><!-- Firebase scripts -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <%- include('navbar-include') %>
    <div class="container bd-gutter mt-3 my-md-4 bd-layout">
        <div class="button-container" style="display: flex; justify-content: flex-end;">
            <button id="save-button">Save</button>
        </div>
    </div>
    
    <div class="container bd-gutter mt-3 my-md-4 bd-layout">
        <div class="emoji-container"></div>
        <div class="code-input">
            <textarea id="master-code-input" name="Text1" cols="40" rows="5" style="min-height: 800px; resize: none;"></textarea>
        </div>
    </div>
    


    <div class="container">
        <button id="logout-button" class="hide">Logout</button>
    </div>

    <script type="module">
        import { auth, firestore } from '/scripts/firebase-init.js';
        import { getAuth, onAuthStateChanged, connectAuthEmulator } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-auth.js";
        import { getFirestore, doc, getDoc, setDoc, connectFirestoreEmulator } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-firestore.js";

        

        // Reference to textarea and save button
        const textarea = document.getElementById('master-code-input');
        const saveButton = document.getElementById('save-button');

        //const db = admin.firestore();
        // Function to save data
        async function saveUserData(user) {
            console.log("saving user data");
            const userDocRef = doc(firestore, 'user_data', user.uid);
            try {
                await setDoc(userDocRef, { text: textarea.value }, { merge: true });
                //alert('Data saved successfully!');
                document.getElementById('save-button').textContent = "Saved ✅";
                resetSaveButtonText()
                
            } catch (error) {
                console.error('Error saving data: ', error);
                alert('Failed to save data.');
            }
        }

        // Function to load user data
        async function loadUserData(user) {
            const userDocRef = doc(firestore, 'user_data', user.uid);
            textarea.value = "Retrieving data...";
            try {
                const docSnap = await getDoc(userDocRef);
                if (docSnap.exists()) {
                    textarea.value = docSnap.data().text || ''; // Populate the textarea with the saved data
                } else {
                    console.log('No data found for this user.');
                    textarea.value = "";
                }
            } catch (error) {
                console.error('Error loading data: ', error);
            }
        }

        function resetSaveButtonText() {
            setTimeout(function(){
                document.getElementById('save-button').textContent = "Save";
            },3000);
        }

        // Save the textarea value when the button is clicked
        saveButton.addEventListener('click', () => {
            console.log("clicked save");
            document.getElementById('save-button').textContent = "⏳ Saving...";
            const user = auth.currentUser;
            if (user) {
                console.log(">>> user is" + user.uid);
                saveUserData(user);
                resetSaveButtonText();
            } else {
                alert('User is not authenticated.');
            }
        });

        // Automatically check if the user is authenticated and load their data
        onAuthStateChanged(auth, (user) => {
            if (user) {
                console.log('User is signed in:', user);
                loadUserData(user); // Load the user's saved data when the page loads
            } else {
                console.log('No user is signed in.');
                //window.location = "/login?h3"
                // Optionally, redirect to login page or show a message
            }
        });
    </script>


</body>
<footer>
    <%- include('footer-include') %>
    <script src="/scripts/textarea-code.js"></script>
</footer>
</html>
