/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: orange;
    font-family: "Afacad", sans-serif!important;
}


/* nav */
.bd-navbar {
    
}

/* hero */

.hero-cta {
    margin-bottom: 50px;
}

.hero-h1 {
    text-align: center;
    font-size: 5rem;
    line-height: 5rem;
}

.hero-p {
    text-align: center;
    font-size: 1.5rem;
}

.hero-i {
    font-style: italic;
}

/* hero animation */

.animation-wrapper {
    position: relative;
    width:100%;
    max-width: 600px;
    height:400px;
    font-family: "Source Code Pro", monospace;
    border:none;
    border-radius: 6px;
    margin:0 auto;
    background-color:#f1f1f1;
    color:#8ca325;
    padding:10px;
}
.typing-container {
    
    
    white-space: nowrap; /* Ensure the text stays on one line */
    overflow: hidden;
    border-right: 2px solid black; /* Simulate the cursor */
    display: inline-block; /* Allow the element to shrink-wrap its content */
    width: 0; /* Start with 0 width */
    animation: typing 4s steps(445) forwards, blink-caret 0.75s step-end infinite;
}

.save-button {
    position:absolute;
    bottom:10px;
    right:10px;
    width:160px;
}



.clicked {
    
}

@keyframes typing {
    from { width: 0; }
    to { width: 65%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}



/* testimonials */
.testimonial-container {
    display: flex;
    gap: 20px; /* Adds space between the cards */
    justify-content: start; /* Centers the cards horizontally */
    flex-wrap: wrap; /* Allows the cards to wrap to the next line if there's not enough space */
    margin: 20px 0; /* Adds some margin to the container */
}

/*buttons*/

button {
    padding:5px 20px 5px 20px;
    border-radius: 6px!important;
}

#google-login {
    background-color: white;
    border-radius: 6px;
    padding:5px 40px 5px 40px;
    width:100%;
}

textarea {
    width:100%;
    font-family: "Source Code Pro", monospace;
    border:none;
    border-radius: 6px;
    margin:10px;
    background-color:#f1f1f1;
    color:#705122;
    padding:10px;
}


/* poo emoji stuff */



.emoji-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through */
    overflow: hidden; /* Hide overflowed emojis */
    z-index: -1; /* Place the emojis behind the textarea */
}

.emoji {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    animation: float-up 2s ease-in-out forwards;
    opacity: 0;
}

@keyframes float-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh); /* Move emoji to the top of the viewport */
        opacity: 0;
    }
}


.center-container {
    display: flex;
    justify-content: center;
    
   
}